<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GameVisualizationServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60228/GameVisualizationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="GameVisualizationServiceSoap"
                contract="ServiceReference1.GameVisualizationServiceSoap"
                name="GameVisualizationServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>